* {
    font-family: sans-serif;
}

body {
    display: Flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: black;
    
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
   
    color: white;
    font-size: 1.2em;
}
